<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reddit Clone</title>
    <link rel="stylesheet" href="public/stylesheets/style.css"/>
    <script src=https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular.js></script>
    <script src=https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular-animate.js></script>
    <script src=public/javascripts/moment.js></script>
    <script src=https://cdnjs.cloudflare.com/ajax/libs/angular-moment/0.10.2/angular-moment.min.js></script>
    <script src=public/javascripts/app.js></script>
</head>
<body ng-app="redditApp">
<nav>
    <h1 class="inline-block">Reddit Clone</h1>

    <h3 ng-click="showme= !showme" class="inline-block">Submit Post</h3>
    <input class="inline-block" ng-model="searchText" type="text" placeholder="Search"/>
    <label for="sort">Sort By</label>
    <select name="sort" ng-model="order" id="sort">
        <option value="votes">Votes</option>
        <option value="date">date</option>
        <option value="title">title</option>

    </select>


</nav>

<main ng-controller="RedditController">

    <div ng-show="showme" class="submit-post">
        <form ng-submit="addPost(title,author,imgUrl,description,$event)">

            <label for="title">Title</label>
            <input ng-model="title" type="text" id="title" required/>
            <label for="author">author</label>
            <input ng-model="author" type="text" id="author" required/>
            <label for="img-url">Image Url</label>
            <input ng-model="imgUrl" type="text" id="img-url" required/>
            <label for="description">Description</label>
            <input ng-model="description" type="text" id="description" required/>
            <input type="submit" value="Submit Post"/>

        </form>

    </div>
    <div ng-repeat="post in posts | filter:searchText | orderBy:order" ng-class="['post','clearfix']">
        <!--<div class="test">-->

        <div class="img-container" style="background-image: url({{post.imgUrl}})">
            <!--<img ng-src="{{post.imgUrl}}"/>-->
        </div>

        <article>
            <h2>{{post.title}}</h2>

            <h3>{{post.votes}}</h3> <span ng-click="upVote(post)">up ^</span> <span
                ng-click="downVote(post)">down \/</span>

            <p>{{post.author}}</p>

            <p>{{post.description}}</p>
            <!--<div class="article-footer">-->
            <span>{{post.date | amCalendar}} |</span>
                <span ng-click="showComments = !showComments">
                    <ng-pluralize count="post.comments.length"
                                  when="{'0': '0 Comments',
                     'one': '1 Comment',
                     'other': '{} Comments'}">
                    </ng-pluralize>
                     |</span>
            <span ng-click="showAddComment = !showAddComment">add comment</span>


        </article>

        <div ng-repeat="comment in post.comments" ng-show="showComments" class="comments">
            <p class="pComment">{{comment.author}}: {{comment.comment}}</p>
        </div>

        <form class='comment-form' ng-show="showAddComment" ng-submit="addComment(commentAuthor, comment, post);showComments = true; showAddComment =false;">
            <input type="text" ng-model="commentAuthor" placeholder="Author"/>
            <input type="text" ng-model="comment" placeholder="comment"/>
            <input type="submit" value="Add Comment"/>
        </form>

    </div>


</main>
</body>
</html>